<h1>New Pledge</h1>
 
<%= form_for [@project, @pledge] do |f| %>
	 <div class="field">
	 	<%= f.label :amount %>
	 	<%= f.number_field :amount %>
	 </div>
	 <div class="action">
	 	<%= f.submit "Pledge Now" %>
	 </div>
<% end %>