<h1>Listing Projects</h1>

	<% @project.each do |project| %>
	<ul>
		<li class="project"><%= link_to project.title, project %><br>
				<%= project.teaser %></li>
	</ul>
	<% end %>	
	<%= paginate @project %>
